@model IPCU.Models.GIInfectionChecklist

@{
    ViewData["Title"] = "Patient Details";
}

<h2>Patient Details</h2>

<table class="table table-bordered">
    <tr>
        <th>Full Name:</th>
        <td>@($"{Model.LName}, {Model.FName} {Model.MName}")</td>
    </tr>
    <tr>
        <th>Hospital Number:</th>
        <td>@Model.HospNum</td>
    </tr>
    <tr>
        <th>Date of Birth:</th>
        <td>@Model.DateOfBirth.ToString("yyyy-MM-dd")</td>
    </tr>
    <tr>
        <th>Age:</th>
        <td>@Model.Age</td>
    </tr>

    <tr>
        <th>Main Service:</th>
        <td>@Model.MainService</td>
    </tr>
    <tr>
        <th>Date of Event:</th>
        <td>@Model.DateOfEvent.ToString("yyyy-MM-dd")</td>
    </tr>
    <tr>
        <th>Date of Admission:</th>
        <td>@Model.DateOfAdmission.ToString("yyyy-MM-dd")</td>
    </tr>
</table>

<a asp-action="PatientIndex" class="btn btn-primary">Back to List</a>

}
