@model IPCU.Models.TCSkillsChecklistReal

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TCSkillsChecklistReal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObserverName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObserverName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsEquipmentAndCartPrepared)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsEquipmentAndCartPrepared)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCleaningSolutionPrepared)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCleaningSolutionPrepared)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsProperAttireAndPPEWorn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsProperAttireAndPPEWorn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsHandHygieneAndGlovesDone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsHandHygieneAndGlovesDone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSignageChecked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSignageChecked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSpillSoakedWithSolution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSpillSoakedWithSolution)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsWallsCleaned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsWallsCleaned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDoorFrameWiped)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDoorFrameWiped)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsWindowSillAndWindowCleaned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsWindowSillAndWindowCleaned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsHighTouchAreasWiped)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsHighTouchAreasWiped)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsVerticalSurfacesWiped)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsVerticalSurfacesWiped)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsLooseDebrisPickedUp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsLooseDebrisPickedUp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRoomFloorMopped)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRoomFloorMopped)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsUsedClothsDisposed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsUsedClothsDisposed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsWasteContainersEmptied)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsWasteContainersEmptied)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsInfectiousWasteRemoved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsInfectiousWasteRemoved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsMirrorCleaned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsMirrorCleaned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSinkAreaCleaned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSinkAreaCleaned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsFaucetAndHandlesCleaned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFaucetAndHandlesCleaned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsToiletAndFlushHandlesCleaned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsToiletAndFlushHandlesCleaned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsOtherBathroomSurfacesCleaned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsOtherBathroomSurfacesCleaned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsBathroomFloorScrubbed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsBathroomFloorScrubbed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsColorCodedWasteEmptied)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsColorCodedWasteEmptied)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPPERemoved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPPERemoved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsHandHygieneAfterPPE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsHandHygieneAfterPPE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsGlovesRemovedAndHandHygieneDone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsGlovesRemovedAndHandHygieneDone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreCleaningItems)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreCleaningItems)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostCleaningItems)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostCleaningItems)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecommendationsOrActions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecommendationsOrActions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitAreaStaffSignature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitAreaStaffSignature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfObservation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfObservation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
