@model IEnumerable<IPCU.Models.TCSkillsChecklistReal>

@{
    ViewData["Title"] = "Index";
}

<h3>TC Skills Checklist for Station: @ViewBag.Station, Room: @ViewBag.RoomID</h3>

<p>
    <a asp-action="Create" asp-route-roomId="@ViewData["RoomId"]" asp-route-station="@ViewData["Station"]">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Full Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ObserverName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.UnitAreaStaffSignature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfObservation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @item.Fname @item.Mname @item.Lname
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.ObserverName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitAreaStaffSignature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfObservation)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
