@model IPCU.Models.HandHygieneForm
@{
    ViewData["Title"] = "Hand Hygiene Form Details";
}

<h1>Hand Hygiene Form Details</h1>

<div class="card mb-4">
    <div class="card-header">
        <h4>Form Information</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Area)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Area)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Observer)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Observer)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Date)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Date)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Time)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Time)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Name)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Name)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.HCWType)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.HCWType)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.RoomType)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.RoomType)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Isolation)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Isolation)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.IsolationPrecaution)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.IsolationPrecaution)</dd>
        </dl>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header">
        <h4>Observation Details</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.ObsvPatientCare)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.ObsvPatientCare)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.ObsvPatientEnvironment)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.ObsvPatientEnvironment)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.ObsvPatientContact)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.ObsvPatientContact)</dd>
        </dl>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header">
        <h4>Compliance Summary</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.TotalCompliantActions)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.TotalCompliantActions)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.TotalObservedOpportunities)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.TotalObservedOpportunities)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.ComplianceRate)</dt>
            <dd class="col-sm-9">
                @{
                    var complianceRate = Model.ComplianceRate;
                }
                @if (complianceRate != 0)  // Check if rate has been calculated
                {
                    <span class="@(complianceRate >= 85m ? "text-success" : complianceRate >= 70m ? "text-warning" : "text-danger")">
                        @complianceRate.ToString("0.0")%
                    </span>
                }
                else
                {
                    <span>Not calculated</span>
                }
            </dd>
        </dl>
    </div>
</div>
@if (Model.Activities != null && Model.Activities.Count > 0)
{
    <div class="card mb-4">
        <div class="card-header">
            <h4>Observed Activities</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Activity</th>
                            <th class="text-center">Before Hand Rub</th>
                            <th class="text-center">Before Hand Wash</th>
                            <th class="text-center">After Hand Rub</th>
                            <th class="text-center">After Hand Wash</th>
                            <th class="text-center">Gloves</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var activity in Model.Activities)
                        {
                            <tr>
                                <td>@activity.Activity</td>
                                <td class="text-center">
                                    @if (!string.IsNullOrEmpty(activity.BeforeHandRub))
                                    {
                                        @Html.Raw(activity.BeforeHandRub)
                                    }
                                    else
                                    {
                                        <span>-</span>
                                    }
                                </td>
                                <td class="text-center">
                                    @if (!string.IsNullOrEmpty(activity.BeforeHandWash))
                                    {
                                        @Html.Raw(activity.BeforeHandWash)
                                    }
                                    else
                                    {
                                        <span>-</span>
                                    }
                                </td>
                                <td class="text-center">
                                    @if (!string.IsNullOrEmpty(activity.AfterHandRub))
                                    {
                                        @Html.Raw(activity.AfterHandRub)
                                    }
                                    else
                                    {
                                        <span>-</span>
                                    }
                                </td>
                                <td class="text-center">
                                    @if (!string.IsNullOrEmpty(activity.AfterHandWash))
                                    {
                                        @Html.Raw(activity.AfterHandWash)
                                    }
                                    else
                                    {
                                        <span>-</span>
                                    }
                                </td>
                                <td class="text-center">
                                    @if (activity.Gloves == "True")
                                    {
                                        <span class="text-success">✓</span>
                                    }
                                    else
                                    {
                                        <span class="text-danger">✗</span>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model?.HHId" class="btn btn-primary">
        <i class="fas fa-edit"></i> Edit
    </a>
    <a asp-action="Index" class="btn btn-secondary">
        <i class="fas fa-arrow-left"></i> Back to List
    </a>
</div>