@model IPCU.Models.HandHygieneForm

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HandHygieneForm</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HCWType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HCWType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Isolation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Isolation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsolationPrecaution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsolationPrecaution)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObsvPatientCare)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObsvPatientCare)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObsvPatientEnvironment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObsvPatientEnvironment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObsvPatientContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObsvPatientContact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCompliantActions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCompliantActions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalObservedOpportunities)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalObservedOpportunities)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComplianceRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComplianceRate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.HHId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
