@model IPCU.Models.FitTestingForm

@{
    ViewData["Title"] = "Fit Testing Details";
}

<!-- Bootstrap & FontAwesome for styling -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">



<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-lg border-0">
                <div class="card-header bg-primary text-white text-center">
                    <h3><i class="fa fa-info-circle"></i> Fit Testing Details</h3>
                </div>
                <div class="card-body p-4">

                    <!-- Main Details Table -->
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>
                                    <i class="fa fa-user"></i>
                                    Name of Healthcare Worker (HCW):
                                </th>
                                <td>@Html.DisplayFor(model => model.HCW_Name)</td>
                            </tr>
                            <tr>
                                <th><i class="fa fa-id-badge"></i> Department/Unit/Office </th>
                                <td>@Html.DisplayFor(model => model.DUO)</td>
                            </tr>
                            <tr>
                                <th><i class="fa fa-exclamation-circle"></i> Limitations </th>
                                <td>@Html.DisplayFor(model => model.Limitation)</td>

                            </tr>
                            <tr>
                                <th><i class="fa fa-flask"></i> Fit Test Solution</th>
                                <td>@Html.DisplayFor(model => model.Fit_Test_Solution)</td>
                            </tr>
                            <tr>
                                <th><i class="fa fa-vial"></i> Sensitivity Test</th>
                                <td>@Html.DisplayFor(model => model.Sensitivity_Test)</td>
                            </tr>
                            <tr>
                                <th><i class="fa fa-mask"></i> Respiratory Type </th>
                                <td>@Html.DisplayFor(model => model.Respiratory_Type)</td>
                            </tr>
                            <tr>
                                <th><i class="fa fa-cogs"></i> Model </th>
                                <td>@Html.DisplayFor(model => model.Model)</td>
                            </tr>
                            <tr>
                                <th><i class="fa fa-ruler"></i> Size </th>
                                <td>@Html.DisplayFor(model => model.Size)</td>
                            </tr>

                            <!-- Fit Tester Info (Moved Here) -->
                            <tr>
                                <th colspan="2" class="text-center bg-light"><i class="fa fa-user-md"></i> Fit Tester Information</th>
                            </tr>
                            <tr>
                                <td><i class="fa fa-user-check"></i> Name of fit tester </td>
                                <td>@Html.DisplayFor(model => model.Name_of_Fit_Tester)</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-id-card"></i>Department/Unit/Office:</td>
                                <td>@Html.DisplayFor(model => model.DUO_Tester)</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-calendar"></i> Date Submited </td>
                                <td>@Model.SubmittedAt.ToString("MMMM dd, yyyy")</td>
                            </tr>

                            <!-- Breathing & Movement Tests (Now After Fit Tester Info) -->
                            <tr>
                                <th colspan="2" class="text-center bg-light"><i class="fa fa-wind"></i> Breathing & Movement Tests</th>
                            </tr>
                            <tr>
                                <td>Normal Breathing </td>
                                <td>@Html.DisplayFor(model => model.Normal_Breathing)</td>
                            </tr>
                            <tr>
                                <td> Deep Breathing </td>
                                <td>@Html.DisplayFor(model => model.Deep_Breathing)</td>
                            </tr>
                            <tr>
                                <td>Turn head side to side </td>
                                <td>@Html.DisplayFor(model => model.Turn_head_side_to_side)</td>
                            </tr>
                            <tr>
                                <td>Move head up and down </td>
                                <td>@Html.DisplayFor(model => model.Move_head_up_and_down)</td>
                            </tr>
                            <tr>
                                <td> Reading </td>
                                <td>@Html.DisplayFor(model => model.Reading)</td>
                            </tr>
                            <tr>
                                <td>Bending/Jogging</td>
                                <td>@Html.DisplayFor(model => model.Bending_Jogging)</td>
                            </tr>
                            <tr>
                                <td> Normal Breathing </td>
                                <td>@Html.DisplayFor(model => model.Normal_Breathing_2)</td>
                            </tr>
                            <tr>
                                <td> Test Results </td>
                                <td style="color: @(Model.Test_Results == "Failed" ? "red" : Model.Test_Results == "Passed" ? "green" : "black")">
                                    @Model.Test_Results
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Navigation Buttons -->
                    <div class="d-flex justify-content-between mt-4">
                        <a asp-action="Index" class="btn btn-secondary"><i class="fa fa-arrow-left"></i> Back</a>
                        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning"><i class="fa fa-edit"></i> Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
