@model IEnumerable<IPCU.Models.FitTestingForm>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HCW_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DUO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Limitation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fit_Test_Solution)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sensitivity_Test)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Respiratory_Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Normal_Breathing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deep_Breathing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Turn_head_side_to_side)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Move_head_up_and_down)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reading)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bending_Jogging)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Normal_Breathing_2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name_of_Fit_Tester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DUO_Tester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubmittedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HCW_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DUO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Limitation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fit_Test_Solution)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sensitivity_Test)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Respiratory_Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Normal_Breathing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deep_Breathing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turn_head_side_to_side)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Move_head_up_and_down)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reading)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bending_Jogging)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Normal_Breathing_2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name_of_Fit_Tester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DUO_Tester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmittedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
