@model IPCU.Models.VAEMonitoringChecklist

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>VAEMonitoringChecklist</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreaUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaUnit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssessedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssessedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateandTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateandTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObservedStaff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObservedStaff)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeadofBed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeadofBed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IfTracheostomy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IfTracheostomy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrcalCare)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrcalCare)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HandHygiene)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HandHygiene)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AfterCare)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AfterCare)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SterileWater)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SterileWater)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnsuretoUse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnsuretoUse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Condensateinthe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Condensateinthe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntubationKits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntubationKits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CleanandDirty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CleanandDirty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remarks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberofComplaint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberofComplaint)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalObserved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalObserved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComplianceRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComplianceRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Accomplishedby)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Accomplishedby)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewedandApproved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewedandApproved)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
