@model IPCU.Models.TCSkillsChecklist

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Consss</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ICRA)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ICRA.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectReferenceNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectReferenceNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectNameAndDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectNameAndDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContractorRepresentativeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContractorRepresentativeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TelephoneOrMobileNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TelephoneOrMobileNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SpecificSiteOfActivity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SpecificSiteOfActivity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScopeOfWork)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScopeOfWork)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectStartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectStartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstimatedDuration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstimatedDuration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarrierICRA)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarrierICRA)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarrierICRAComments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarrierICRAComments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarrierDoorsSealedSelection)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarrierDoorsSealedSelection)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarrierDoorsSealedComments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarrierDoorsSealedComments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarrierFloorCleanSelection)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarrierFloorCleanSelection)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarrierFloorCleanComments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarrierFloorCleanComments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarrierWalkOffMatsSelection)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarrierWalkOffMatsSelection)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarrierWalkOffMatsComments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarrierWalkOffMatsComments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarrierTapeAdheringSelection)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarrierTapeAdheringSelection)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarrierTapeAdheringComments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarrierTapeAdheringComments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AirhandlingWindowsClosedBehindBarrierSelection)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AirhandlingWindowsClosedBehindBarrierSelection)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AirhandlingWindowsClosedBehindBarrierComments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AirhandlingWindowsClosedBehindBarrierComments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AirhandlingNegativeAirMonitoredSelection)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AirhandlingNegativeAirMonitoredSelection)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AirhandlingNegativeAirMonitoredComments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AirhandlingNegativeAirMonitoredComments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AirHandlingUnitRunningSelection)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AirHandlingUnitRunningSelection)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AirHandlingUnitRunningComments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AirHandlingUnitRunningComments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AirhandlingMaintenanceLabelVisibleSelection)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AirhandlingMaintenanceLabelVisibleSelection)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AirhandlingMaintenanceLabelVisibleComments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AirhandlingMaintenanceLabelVisibleComments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AirhandlingAirExhaustedToAppropriateAreaSelection)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AirhandlingAirExhaustedToAppropriateAreaSelection)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AirhandlingAirExhaustedToAppropriateAreaComments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AirhandlingAirExhaustedToAppropriateAreaComments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectareaHEPAFilteredVacuumOnJobsiteSelection)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectareaHEPAFilteredVacuumOnJobsiteSelection)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectareaHEPAFilteredVacuumOnJobsiteComments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectareaHEPAFilteredVacuumOnJobsiteComments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectareaDebrisRemovedInCoveredContainerDailySelection)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectareaDebrisRemovedInCoveredContainerDailySelection)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectareaDebrisRemovedInCoveredContainerDailyComments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectareaDebrisRemovedInCoveredContainerDailyComments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectareaDesignatedConstructionRouteOrMapPostedSelection)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectareaDesignatedConstructionRouteOrMapPostedSelection)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectareaDesignatedConstructionRouteOrMapPostedComments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectareaDesignatedConstructionRouteOrMapPostedComments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectareaTrashInAppropriateContainerSelection)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectareaTrashInAppropriateContainerSelection)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectareaTrashInAppropriateContainerComments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectareaTrashInAppropriateContainerComments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectareaRoutineCleaningDoneOnSiteSelection)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectareaRoutineCleaningDoneOnSiteSelection)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectareaRoutineCleaningDoneOnSiteComments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectareaRoutineCleaningDoneOnSiteComments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectareaAirVentsSealedOrDuctworkCappedSelection)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectareaAirVentsSealedOrDuctworkCappedSelection)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectareaAirVentsSealedOrDuctworkCappedComments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectareaAirVentsSealedOrDuctworkCappedComments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrafficcontrolRestrictedToConstructionWorkersSelection)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrafficcontrolRestrictedToConstructionWorkersSelection)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrafficcontrolRestrictedToConstructionWorkersComments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrafficcontrolRestrictedToConstructionWorkersComments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrafficcontrolDoorsAndExitsFreeOfDebrisSelection)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrafficcontrolDoorsAndExitsFreeOfDebrisSelection)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrafficcontrolDoorsAndExitsFreeOfDebrisComments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrafficcontrolDoorsAndExitsFreeOfDebrisComments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DresscodeProtectiveClothingWornSelection)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DresscodeProtectiveClothingWornSelection)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DresscodeProtectiveClothingWornComments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DresscodeProtectiveClothingWornComments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DresscodeWorkersClothingCleanUponExitingSelection)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DresscodeWorkersClothingCleanUponExitingSelection)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DresscodeWorkersClothingCleanUponExitingComments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DresscodeWorkersClothingCleanUponExitingComments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContractorSign)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContractorSign)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EngineeringSign)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EngineeringSign)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ICPSign)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ICPSign)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UnitAreaRep)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UnitAreaRep)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
