@model IEnumerable<IPCU.Models.TCSkillsChecklist>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ICRA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectReferenceNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectNameAndDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractorRepresentativeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelephoneOrMobileNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecificSiteOfActivity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScopeOfWork)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimatedDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BarrierICRA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BarrierICRAComments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BarrierDoorsSealedSelection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BarrierDoorsSealedComments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BarrierFloorCleanSelection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BarrierFloorCleanComments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BarrierWalkOffMatsSelection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BarrierWalkOffMatsComments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BarrierTapeAdheringSelection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BarrierTapeAdheringComments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirhandlingWindowsClosedBehindBarrierSelection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirhandlingWindowsClosedBehindBarrierComments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirhandlingNegativeAirMonitoredSelection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirhandlingNegativeAirMonitoredComments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirHandlingUnitRunningSelection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirHandlingUnitRunningComments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirhandlingMaintenanceLabelVisibleSelection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirhandlingMaintenanceLabelVisibleComments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirhandlingAirExhaustedToAppropriateAreaSelection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirhandlingAirExhaustedToAppropriateAreaComments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectareaHEPAFilteredVacuumOnJobsiteSelection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectareaHEPAFilteredVacuumOnJobsiteComments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectareaDebrisRemovedInCoveredContainerDailySelection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectareaDebrisRemovedInCoveredContainerDailyComments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectareaDesignatedConstructionRouteOrMapPostedSelection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectareaDesignatedConstructionRouteOrMapPostedComments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectareaTrashInAppropriateContainerSelection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectareaTrashInAppropriateContainerComments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectareaRoutineCleaningDoneOnSiteSelection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectareaRoutineCleaningDoneOnSiteComments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectareaAirVentsSealedOrDuctworkCappedSelection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectareaAirVentsSealedOrDuctworkCappedComments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrafficcontrolRestrictedToConstructionWorkersSelection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrafficcontrolRestrictedToConstructionWorkersComments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrafficcontrolDoorsAndExitsFreeOfDebrisSelection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrafficcontrolDoorsAndExitsFreeOfDebrisComments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DresscodeProtectiveClothingWornSelection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DresscodeProtectiveClothingWornComments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DresscodeWorkersClothingCleanUponExitingSelection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DresscodeWorkersClothingCleanUponExitingComments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractorSign)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EngineeringSign)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ICPSign)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitAreaRep)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ICRA.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectReferenceNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectNameAndDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContractorRepresentativeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TelephoneOrMobileNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpecificSiteOfActivity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScopeOfWork)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectStartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstimatedDuration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BarrierICRA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BarrierICRAComments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BarrierDoorsSealedSelection)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BarrierDoorsSealedComments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BarrierFloorCleanSelection)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BarrierFloorCleanComments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BarrierWalkOffMatsSelection)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BarrierWalkOffMatsComments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BarrierTapeAdheringSelection)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BarrierTapeAdheringComments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AirhandlingWindowsClosedBehindBarrierSelection)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AirhandlingWindowsClosedBehindBarrierComments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AirhandlingNegativeAirMonitoredSelection)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AirhandlingNegativeAirMonitoredComments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AirHandlingUnitRunningSelection)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AirHandlingUnitRunningComments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AirhandlingMaintenanceLabelVisibleSelection)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AirhandlingMaintenanceLabelVisibleComments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AirhandlingAirExhaustedToAppropriateAreaSelection)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AirhandlingAirExhaustedToAppropriateAreaComments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectareaHEPAFilteredVacuumOnJobsiteSelection)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectareaHEPAFilteredVacuumOnJobsiteComments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectareaDebrisRemovedInCoveredContainerDailySelection)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectareaDebrisRemovedInCoveredContainerDailyComments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectareaDesignatedConstructionRouteOrMapPostedSelection)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectareaDesignatedConstructionRouteOrMapPostedComments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectareaTrashInAppropriateContainerSelection)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectareaTrashInAppropriateContainerComments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectareaRoutineCleaningDoneOnSiteSelection)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectareaRoutineCleaningDoneOnSiteComments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectareaAirVentsSealedOrDuctworkCappedSelection)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectareaAirVentsSealedOrDuctworkCappedComments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrafficcontrolRestrictedToConstructionWorkersSelection)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrafficcontrolRestrictedToConstructionWorkersComments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrafficcontrolDoorsAndExitsFreeOfDebrisSelection)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrafficcontrolDoorsAndExitsFreeOfDebrisComments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DresscodeProtectiveClothingWornSelection)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DresscodeProtectiveClothingWornComments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DresscodeWorkersClothingCleanUponExitingSelection)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DresscodeWorkersClothingCleanUponExitingComments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContractorSign)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EngineeringSign)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ICPSign)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitAreaRep)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
